<head>
<%= stylesheet_link_tag 'gallery','layout', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <header>Lietuvos Motokroso Sporto Federacija</header>


    <nav class="Navigation"> 
        <a href="home.html"> Main</a>
        <a href="contacts.html"> Contacts</a> 
        <a href="gallery.html"> Gallery</a>
        <a href="competition.html"> Competition</a>
    </nav>
<div class="aside">
 
  

    <div class="row">
        <div class="column">
            <div class="text">
                Nuotraukos iš 2020m. Rugsėjo 18d. vykusių varžybų Kaune.
                "Cross county 2020" I-ojo etapo
                
            </div>
        </div>

        <div class="column">
            <div class="container2">
                <img src="/assets/1.jpg">
                <img src="/assets/2.jpg">
                <img src="/assets/3.jpg">
                <img src="/assets/4.jpg">
                <img src="/assets/5.jpg">
                <img src="/assets/6.jpg">
                <img src="/assets/7.jpg">
                <img src="/assets/8.jpg">
                <img src="/assets/9.jpg">

            </div>
        </div>

    </div>
    <div class="row">
        <div class="column">
            <div class="text">
                Nuotraukos iš 2020m. Rugsėjo 19d. vykusių varžybų Alytuje.
                "Lietuvos Taurė 2020" etapo 
                
            </div>
        </div>

        <div class="column">
            <div class="container2">
                <img src="/assets/1.jpg">
                <img src="/assets/2.jpg">
                <img src="/assets/3.jpg">
                <img src="/assets/4.jpg">
                <img src="/assets/5.jpg">
                <img src="/assets/6.jpg">
                <img src="/assets/7.jpg">
                <img src="/assets/8.jpg">
                <img src="/assets/9.jpg">

            </div>
        </div>

     </div>
    <div class="sponsors-column">
        <div class="sponsorLogo">
            <div class="sponsor-text">Swedbank</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/swedbank_og.png">
        </div>
        </div>
        <div class="sponsorLogo">
            <div class="sponsor-text">AOC</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/aoc.png">
        </div>
    </div>
        <div class="sponsorLogo">
            <div class="sponsor-text">Mantinga</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/mantinga.png">
        </div>
    </div>
    <div class="sponsorLogo">
        <div class="sponsor-text">Asus</div>
        <div class="logoSponsor">
                <img  class="logoimg" src="/assets/asus.png">
    </div>
</div>
    </div>
    </div>

    <footer class="footer">
        <div>
            Follow us:
        </div>
        <div class="logorow">
            <div class="logocolumn">
                <div class="logo">

                   <a href="#" >
                    <img src="./assets/fb.png">
                   </a> 
                </div>
            </div>
            <div class="logocolumn">
                <div class="logo">
                  <a href="#" >
                    <img src="/assets/iglogo.png">
                  </a> 
                </div>
            </div>
            <div class="logocolumn">
                <div class="logo">
                  <a href="#" >
                        <img src="/assets/email.png">
                      </a> 
            </div>
        </div>
        </div>
    </footer>
</body>