
<head>
<%= stylesheet_link_tag 'index','layout', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>Lietuvos Motokroso Sporto Federacija</header>


    <nav class="Navigation"> 
        <a href="home"> Main</a>
        <a href="contacts.html"> Contacts</a> 
        <a href="gallery.html"> Gallery</a>
        <a href="competition.html"> Competition</a>
    </nav>

    
<div class="container">
   
   

  
    <div class="content-column">
        <div class="newsCol">
            <div class="container imagetext">
                <img class="image" <%=image_tag("partBackground.jpg")%>/>
                <div class="text">
                    Spalio mėn. 10 d. Zokniuose, Šiaulių r. vyks 2020 m. Lietuvos Cross Country Čempionato ir Taurės V etapas
                    <div>
                        <a id="readMore" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="newsCol">
            <div class="container imagetext">
                <img class="image" src="/assets/partBackground1.jpg"/>
                <div class="text">
                    Rugsėjo mėn. 27 d. Dubysos slėnio trasoje vyks paskutinis Motokroso varžybų "Lietuvos Taurė 2020" etapas. Po varžybų vyks metiniai apdovanojimai!!!
                    <div>
                        <a id="readMore" href="#">Read more</a>

                    </div>
                </div>
            </div>
            
        </div>
        <div class="newsCol">
            <div class="container imagetext">
                <img class="image" src="/assets/partbackground2.jpg"/>
                <div class="text">
                    Rugsėjo mėn. 19-20 d. Šilutės raj. vyks 2020 m. Lietuvos Enduro Čempionato ir Taurės bei 2020 m. Lietuvos Enduro Sprinto Taurės III-asis etapas
                    <div>
                        <a id="readMore" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsCol">
            <div class="container imagetext">
                <img class="image" src="/assets/attention.jpg"/>
                <div class="text">
                    DĖMESIO!!! Informuojame, kad motokroso varžybos "Nemuno Taurė 2020", turėjusios vykti rugsėjo mėn. 6 d.Kėdainiuose ATŠAUKIAMOS!
                    <div>
                        <a id="readMore" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="sponsors-column">
        <div class="sponsorLogo">
            <div class="sponsor-text">Swedbank</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/swedbank_og.png">
        </div>
        </div>
        <div class="sponsorLogo">
            <div class="sponsor-text">AOC</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/aoc.png">
        </div>
    </div>
        <div class="sponsorLogo">
            <div class="sponsor-text">Mantinga</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/mantinga.png">
        </div>
    </div>
    <div class="sponsorLogo">
        <div class="sponsor-text">Asus</div>
        <div class="logoSponsor">
                <img  class="logoimg" src="/assets/asus.png">
    </div>
</div>
    </div>
    </div>

    <footer class="footer">
        <div>
            Follow us:
        </div>
        <div class="logorow">
            <div class="logocolumn">
                <div class="logo">

                   <a href="#" >
                    <img src="/assets/fb.png">
                   </a> 
                </div>
            </div>
            <div class="logocolumn">
                <div class="logo">
                  <a href="#" >
                    <img src="/assets/iglogo.png">
                  </a> 
                </div>
            </div>
            <div class="logocolumn">
                <div class="logo">
                  <a href="#" >
                        <img src="/assets/email.png">
                      </a> 
            </div>
        </div>
        </div>
    </footer>
</body>
