<head>
            <%= stylesheet_link_tag 'Competition','layout',  :media => "all" %>
</head>

<body>
  <header>Lietuvos Motokroso Sporto Federacija</header>


    <nav class="Navigation"> 
        <a href="home.html"> Main</a>
        <a href="contacts.html"> Contacts</a> 
        <a href="gallery.html"> Gallery</a>
        <a href="competition.html"> Competition</a>
    </nav>

    <div class="container">

<div class="row">
  <div class="column">
      <div class="text">2020m. varžybų dalyvių galutinė lentelė</div>

  </div>
  <div class="column">
    <div class="compTable">
      <h2>Competition Leaderboards 2020</h2>
      <table>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Points</th>
          <th>Position</th>
        </tr>
        <tr class="extra" >
          <td>Ernestas</td>
          <td>Liepis</td>
          <td>222</td>
          <td >1</td>
        </tr>
        <tr>
          <td>Arminas</td>
          <td>Venclovas</td>
          <td>180</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Norbertas</td>
          <td>Žėkas</td>
          <td>174</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Kevinas</td>
          <td>Zaksas</td>
          <td>144</td>
          <td>4</td>
       </tr>
       <tr>
          <td>Adamas</td>
          <td>Čekavičius</td>
          <td>127</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Radvilas</td>
          <td>Žaltauskas</td>
          <td>91</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Donatas</td>
          <td>Aleksa</td>
          <td>84</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Savelijs</td>
          <td>Sjomins</td>
          <td>50</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Jonas</td>
          <td>Petraitis</td>
          <td>48</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Peteris</td>
          <td>Cerinš</td>
          <td>34</td>
          <td>10</td>
        </tr>
      </table>

  </div>

</div>




</div>
    
<div class="row">
  <div class="column">
      <div class="text">2019m. varžybų dalyvių galutinė lentelė</div>

  </div>
  <div class="column">
    <div class="compTable">
      <h2>Competition Leaderboards 2019</h2>
      <table>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Points</th>
          <th>Position</th>
        </tr>
        <tr class="extra" >
          <td>Ernestas</td>
          <td>Liepis</td>
          <td>222</td>
          <td >1</td>
        </tr>
        <tr>
          <td>Arminas</td>
          <td>Venclovas</td>
          <td>180</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Norbertas</td>
          <td>Žėkas</td>
          <td>174</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Kevinas</td>
          <td>Zaksas</td>
          <td>144</td>
          <td>4</td>
       </tr>
       <tr>
          <td>Adamas</td>
          <td>Čekavičius</td>
          <td>127</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Radvilas</td>
          <td>Žaltauskas</td>
          <td>91</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Donatas</td>
          <td>Aleksa</td>
          <td>84</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Savelijs</td>
          <td>Sjomins</td>
          <td>50</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Jonas</td>
          <td>Petraitis</td>
          <td>48</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Peteris</td>
          <td>Cerinš</td>
          <td>34</td>
          <td>10</td>
        </tr>
      </table>

  </div>

</div>

</div>
<div class="sponsors-column">
        <div class="sponsorLogo">
            <div class="sponsor-text">Swedbank</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/swedbank_og.png">
        </div>
        </div>
        <div class="sponsorLogo">
            <div class="sponsor-text">AOC</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/aoc.png">
        </div>
    </div>
        <div class="sponsorLogo">
            <div class="sponsor-text">Mantinga</div>
            <div class="logoSponsor">
                    <img class="logoimg" src="/assets/mantinga.png">
        </div>
    </div>
    <div class="sponsorLogo">
        <div class="sponsor-text">Asus</div>
        <div class="logoSponsor">
                <img  class="logoimg" src="/assets/asus.png">
    </div>
</div>
    </div>
    </div>

    <footer class="footer">
        <div>
            Follow us:
        </div>
        <div class="logorow">
            <div class="logocolumn">
                <div class="logo">

                   <a href="#" >
                    <img src="./assets/fb.png">
                   </a> 
                </div>
            </div>
            <div class="logocolumn">
                <div class="logo">
                  <a href="#" >
                    <img src="/assets/iglogo.png">
                  </a> 
                </div>
            </div>
            <div class="logocolumn">
                <div class="logo">
                  <a href="#" >
                        <img src="/assets/email.png">
                      </a> 
            </div>
        </div>
        </div>
    </footer>
</body>